<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

  <title>Libra: Home</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/icons/favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/page.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>

<body>
    <!-- Bara de navigare -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" th:href="@{/home}"><img class="logo-libra" src="images/icons/logo.png" /></a>
            </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productivity
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a th:href="@{/todos}">To Do's</a></li>
                      <li><a th:href="@{/notes}">Notes</a></li>
                      <li><a th:href="@{/calendar}">Calendar</a></li>
                    </ul>
                  </li>
                <li><a href="#">Coronavirus</a></li>
                <li><a href="#">Stock Market</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img th:src="@{'/images/avatars/' + ${#authentication.getPrincipal().getUsername()} + '.png'}" class="avatar" />
                        <span th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="text-center" th:href="@{/profile}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a th:href="@{/signOut}" class="text-center"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <!-- Content -->
    <div class="container-fluid">    
        <div class="col-sm-12"> 
            <h1>Welcome</h1>
            <hr/>
            <p>Calendar</p>
    </div>

</body>

</html>

