<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

  <title>Libra: Home</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/icons/favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/page.css">
  <link rel="stylesheet" href="css/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>

<body>
    <!-- Bara de navigare -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" th:href="@{/}"><img class="logo-libra" src="images/icons/logo.png" /></a>
            </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">News</a></li>
                <li><a th:href="@{/todos}">Todo's</a></li>
                <li><a th:href="@{/notes}">Notes</a></li>
                <li><a href="#">Coronavirus</a></li>
                <li><a href="#">Stock Market</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img th:src="@{'/images/avatars/' + ${#authentication.getPrincipal().getUsername()} + '.png'}"
                             class="avatar" onerror="this.src='/images/avatars/noAvatar.jpg';"/>
                        <span th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="text-center" th:href="@{/profile}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a th:href="@{/signOut}" class="text-center"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <!-- Content -->
    <div class="container-fluid align-center">
        <div class="col-sm-12 align-center" style="margin:10px">
            <form class="example col-sm-6 col-xs-12 align-center text-center" th:action="@{/news_search}" method="get">
                <table>
                    <tr>
                        <select name="sortBy">
                            <option value="">Sort By</option>
                            <option value="recent">Recent</option>
                            <option value="popularity">Popularity</option>
                        </select>
                        <input type="text" placeholder="Search news.." name="searchNews">
                        <button type="submit"><i class="fa fa-search align-center text-center"></i>Search</button>
                    </tr>
                </table>
            </form>
            <section class="wrapper" th:each="news:${newsApi}">
                <div class="container-fostrap">

                    <div class="content">
                        <div class="container">
                            <div class="row">

                                <div class="col-xs-12 col-sm-12">
                                    <div class="card">
                                        <a class="img-card">
                                            <img th:src="${news.urlToImage}"/>
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                <strong><a th:text="${news.title}">title
                                                </a></strong>
                                            </h4>
                                            <span>Author: <p th:text="${news.author}"></p></span>
                                            <p class="" th:text="${news.description}"></p>
                                            <span>Published at: <p th:text="${news.publishedAt}"></p></span>
                                        </div>
                                        <div class="card-read-more">
                                            <a th:href="${news.url}" class="btn btn-link btn-block">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>

</html>

