<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

  <title>Libra: Home</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/icons/favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/profile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>

<body>
    <!-- Bara de navigare -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" th:href="@{/home}"><img class="logo-libra" src="images/icons/logo.png" /></a>
            </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/todos}">Todo's</a></li>
                <li><a th:href="@{/notes}">Notes</a></li>
                <li><a href="#">Coronavirus</a></li>
                <li><a href="#">Stock Market</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img th:src="@{'/images/avatars/' + ${#authentication.getPrincipal().getUsername()} + '.png'}" class="avatar" />
                        <span th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="text-center" th:href="@{/profile}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a th:href="@{/signOut}" class="text-center"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <!-- Content -->
    <div class="container-fluid">    
        <div class="col-sm-12">
            <div class="container">
                <div class="main-body">

                    <div class="row gutters-sm text-center">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="/images/avatars/Ramsey.png" alt="Admin" class="rounded-circle" width="150">
                                        <div class="mt-3">
                                            <h4>Ramsey</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                 <a class="btn btn-primary col-sm-11">Edit Profile</a>
                                </div>
                                <div class="row">
                                  <a class="btn btn-danger col-sm-11">Delete Account</a>
                                </div>
                            </div>
                        </div>

                            <!--        Right panel with info                -->
                        <div class="col-md-8">
                            <h5>User Information</h5>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">First Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            Robert
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Last Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            Ciapa
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            robert.crv@icloud.com
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            0755945923
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Todo's</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            32
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Notes</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            12
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

