<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <title>Libra: Sign Up</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="stylesheet" href="css/login.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <img src="images/icons/logo.png" width="80px" height="80px"  />
    <h1>The username is already taken, please try again...</h1>
</head>

<body>
<h4 ><a th:href="@{/signIn}" class="btn btn-primary" >Go Back To SignUp Page</a></h4>

    <script src="js/login.js"></script>
    <script src="js/signUp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>